{% extends 'base.html' %}
{% load bootstrap4 %}


{% block main %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Salvar
            </button>
        {% endbuttons %}
    </form>

    <a href="{% url 'create_documento' object.id %}" class="btn btn-success">
        Anexar documento
    </a>
    {% for documento in object.documento_set.all %}
        <a href="{{ documento.arquivo.url }}">
            {{ documento }}
        </a>
        <br/>
    {% endfor%}
{% endblock %}
